<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Update page</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
	<form th:action="@{/updateForm}" th:object="${objcome}" method="POST">
		
		<input type="hidden" th:field="*{id}">
		<input type="text" th:field="*{company}">
		<input type="text" th:field="*{mobilename}">
		<input type="text" th:field="*{prize}">
				
		<button class="btn btn-primary" type="submit">Submit</button>
	</form>

</body>
</html>